<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav">
        <li><a class="nav-link {{ if eq "/" .RelPermalink }}active{{ end }}" href="/">Home</a></li>
        <li><a class="nav-link {{ if eq "/blog/" .RelPermalink }}active{{ end }}" href="/blog/">Blog</a></li>
        <li><a class="nav-link {{ if eq "/kontakt/" .RelPermalink }}active{{ end }}" href="/kontakt/">Kontakt</a></li>
      </ul>
    </div>
  </div>
</nav>